@import "../fonts.css";
/* -------------------------- Conhecimentos técnicos -------------------------- */
.conhec-tec {
    height: auto;
}

#conhec-tec h2 {
    font-size:35px;
    color:rgba(65, 8, 65, 0.835);
    font-style: italic;
    margin-top: 10%;
    margin-left: 15%;
}

.container-conhecimentos-tecnicos {
    width: 90%;
    margin-left: 10%;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.conhecimentos-lista {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.lista-align {
    text-align: center; 
}


.lista-conhec {
    width: 30%;
    margin-left: 5%;
}


#progress-align {
    height: 4px;
    background-color: #ccc;
    width: 40%;
    margin-top: 0.8%;
    margin-left: 5%;
    border-radius: 200px;
}

.progress-bar{
    border-radius: 200px;
}

.progress1 .progress-bar {
    height: 100%;
    width: 60%;
    background-color: purple;
}


.progress2 .progress-bar {
    height: 100%;
    width: 90%;
    background-color: purple;
}


.progress3 .progress-bar {
    height: 100%;
    width: 60%;
    background-color: purple;
}


.progress4 .progress-bar {
    height: 100%;
    width: 15%;
    background-color: purple;
}


.progress5 .progress-bar {
    height: 100%;
    width: 10%;
    background-color: purple;
}


.progress6 .progress-bar {
    height: 100%;
    width: 60%; 
    background-color: purple;
}


.progress7 .progress-bar {
    height: 100%;
    width: 25%; 
    background-color: purple;
}

/* ---------------------------- Responsividade ---------------------------- */


@media (max-width: 1024px) {
    #progress-align {
        margin-top: 1.2%;
    }
}

@media (max-width: 768px) {
    #progress-align {
        margin-top: 2%
    }

    .container-conhecimentos-tecnicos {
        width: 90% !important;
        margin-left: 10% !important;
    }
    
    .conhecimentos-lista {
        margin-top: 5%;
    }
}

@media (max-width: 600px) {
    #progress-align {
        margin-top: 3.2%;
    }
}

@media (max-width: 480px) {
    #conhec-tec h2 {
        font-size: 30px;
    }

    #progress-align {
        margin-top: 3%;
    }

    .conhecimentos-lista {
        margin-top: 7%;
    }

    .conhecimentos {
        font-size: 18px;
    }

    .container-conhecimentos-tecnicos {
        margin-top: 5% !important;
        margin-bottom: 20% !important;
    }
}

@media (max-width: 400px) {
    #conhec-tec h2 {
        font-size: 28px;
        margin-left: 12%;
    }

    .container-conhecimentos-tecnicos {
        margin-left: 8% !important;
    }
}

@media (max-width: 380px) {
    #conhec-tec  h2{
        font-size: 26px;
        margin-top: 20%;
    }

    .conhecimentos-lista {
        margin-top: 8%;
    }
}