a:visited {
    color: rebeccapurple;
}

a:hover {
    color: blue;
}

h1 {
    text-align: right;
    color: rebeccapurple;
}

.container img {
    max-width: 250px;
    border-radius: 250px;
}

.container {
    width: 360px;
    flex-direction: column;
    display: flex;
    float: right;
    margin-top: 30px;
    align-items: center;
    padding-right: 50px;
}

.imagem {
    background-image: url(Imagens/estudante.jpg);
    height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 50px;
    background-attachment: fixed;
}

#curso {
    font-size: 25px;
    text-align: center;
    font-style: italic;
}

.frase-topo-img {
    font-size: 30px;
    position: fixed;
    left: 150px;
    font-style: italic;
}

.fundo-topo {
    background-color: gainsboro;
    margin: 0;
    padding: 0;
}

.formação {
    background-color: #E6E6FA;
    color: rebeccapurple;
}

h2 {
    font-family: cursive;
    font-style: italic;
    text-indent: 250px;
    margin: 0;
    padding: 0;
}

body {
    background-color: gainsboro;
    margin: 0;
}